[submodule "cpython"]
	path = cpython
	url = https://github.com/waynr/cpython
	branch = wasix-compatibility
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib
[submodule "libs/wasix-libc"]
	path = libs/wasix-libc
	url = https://github.com/wasix-org/wasix-libc
