# Ignore in source build files and directories ...
# Ignore all dotfiles...
.*
!.gitattributes
!.circleci-matrix.yml
!.travis.yml

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Ignore pyc files
*.pyc

# Ignore build directories
build*
download*
wasi-sdk*
